<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="../app/assets/stylesheets/trips.scss"/>
		<title>Trip Planner</title>
	</head>
	<body>
    <ul class="navbar">
      <a href="index.html">Home</a>
      <a href="show.html">My Trips</a>
      <a href="about.html">About us</a>
    </ul>
  <header class='masthead'>
    <p class='masthead-intro'>My Trip</p>
    <h1 class='masthead-heading'>PLANNER</h1>
  </header>
  <section class="introduction-section">
    <h1>Plan a trip</h1> 
    <h1>My Trips</h1> 
      
  </section>

  <footer class="content-footer">
      <p>Wanderlust!</p>
  </footer>
</body>
</html>